.word {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  margin: 5px 10px;
  font-size: 64px;
  line-height: 54px;
  position: relative;
}

.word .word__char {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  padding-bottom: 20px;
}

.word .word__char span {
  width: 64px;
  height: 64px;
}

.word .word__char::after {
  content: "";
  width: 100%;
  border-bottom: 3px solid var(--color4);
}
